/* everything */
* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    /* header */
header {
}

    /* body */
body {
}

    /* footer */
footer {
}

    /* custom classes */

.nav {

}

.nav_ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #000000;
    position: sticky;
    top: 0;
}

.nav_li {
    float: left;
}

.nav_a {
    display: block;
    color: white;
    text-align: center top;
    padding: 15px;
    text-decoration: none;
}

.nav_active {
    background-color: #4CAF50;
    border: 1px solid white;
}

.nav_active_home {
    background-color: #4CAF50;
    border: 1px solid white;
    border-left: 0px;
}

.nav_icon {
    display: block;
    background-color: #4CAF50;
    border: 1px solid white;
    padding: 5px;
}